::selection {
    background: #9a2721;
    color: #fff;
}

html {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #1a1919;
    color: #dfdfdf;
    font-family: Open Sans;
    font-size: 20px;
    text-shadow: #201f1f 0 0 6px;
}

.list li {
    margin-bottom: 10px;
}

.list li::marker {
    content: " ";
}

@media screen and (max-width: 700px) {
    pre {
        font-size: 0.8rem;
    }

    h1 {
        font-size: 2.1rem;
    }
}
.container {
    background: #2b2a2a;
    padding: 10px;
    border-radius: 2px;
    max-width: fit-content;
}

th {
    display: inline-table;
    border-radius: 2px;
}

.sections a {
    border-bottom: 3px solid rgb(168, 25, 168);
}

strong {
    color: rgb(168, 25, 168);
}

a {
    transition: color 0.4s ease-out;
    text-decoration: none;
    color: #dfdfdf;
}

@keyframes glow {
    100% {
        text-shadow: 0 0 1px rgb(168, 25, 168);
    }
}

a:hover {
    color: rgb(168, 25, 168);
    animation: 3s linear 0s infinite alternate glow;
}


hr {
    margin-top: 20px;
    width: 370px;
    border: none;
    border-top: 2px dashed rgb(168, 25, 168);
}


.footer {
    bottom: 0;
    width: 100%;
    height: 50px;
    font-size: 16px;
    display: flex;
}

.footer p {
    margin: 10px;
}

.btn {
    background: rgb(168, 25, 168);
    border: 4px solid rgb(168, 25, 168);
    font-size: medium;
    padding: 5px;
    border-radius: 6px;
    width: fit-content;
}

.btn:hover {
    color: rgb(168, 25, 168);
}